<!DOCTYPE html>
<html lang="ru" data-ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular Irishfood market</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="css/main.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#000">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <script src="js/app.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <main class="store" data-ng-controller="catalogCtrl as catalogCtrl">
      <div class="container">
        <div class="row">
          <div class="col-md-8 store__main">
            <div class="conrainer">
              <div class="row">
                <div class="col-md-12" data-ng-controller="sortCtrl as sortCtrl">
                  <ul class="nav nav-pills nav-pills-info" role="tablist" data-ng-init="sortCtrl.tab='default'">
                    <li class="active">
                      <a href role="tab" data-toggle="tab" aria-expanded="true" data-ng-click="sortCtrl.tab = 'default'">
                      Все категории
                      </a>
                    </li>
                    <li class="" data-ng-repeat="category in sortCtrl.categories">
                      <a href role="tab" data-toggle="tab" aria-expanded="false" data-ng-click="sortCtrl.tab = category.catName"> 
                      {{category.catName}}
                      </a>
                    </li>
                    <li data-ng-if="catalogCtrl.methodFctr.isEmpty(catalogCtrl.dataFctr.catalogItems) !== true">
                      <ul class="dropdown">
                        <a href="#" class="btn btn-simple dropdown-toggle" data-toggle="dropdown">
                        Сортировать
                        <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu ">
                          <li data-ng-repeat="sortType in sortCtrl.sortTypes">
                            <a href data-ng-click="sortCtrl.sortType = sortType.sortName; sortType.sortReverse = !sortType.sortReverse; sortCtrl.sortReverse = sortType.sortReverse">
                            {{sortType.sortDesc}}
                            <span data-ng-show="sortCtrl.sortType == sortType.sortName && sortType.sortReverse" class="fa fa-caret-down"></span>
                            <span data-ng-show="sortCtrl.sortType == sortType.sortName && !sortType.sortReverse" class="fa fa-caret-up"></span>
                            </a>
                          </li>
                        </ul>
                      </ul>
                    </li>
                    
                  </ul>
                  <form class="search-bar" action="#" method="get">
                    <div class="input-group">
                      <div class="form-group is-empty">
                        <input type="text" class="form-control" placeholder="Поиск" data-ng-model="search">
                        <span class="material-input"></span>
                      </div>
                    </div>
                  </form>
                  <span data-ng-show="catalogCtrl.methodFctr.isEmpty(catalogCtrl.dataFctr.catalogItems) === true">Нет доступных товаров</span>
                  <div class="catalog" >
                    <article class="item" data-ng-repeat="item in catalogCtrl.dataFctr.catalogItems | orderBy:sortCtrl.sortType:sortCtrl.sortReverse | filter : search" data-ng-if="sortCtrl.tab === 'default' || sortCtrl.tab === item.category"'>
                      <div class="item__img">
                        <img class="img-rounded" data-ng-src="{{item.image}}" alt="{{item.name}}">
                        <span class="label label-warning" data-ng-if="item.status == 'unavailable'">Cкоро в наличии</span>
                      </div>
                      <div class="item__content">
                        <h2 class="item__content-title">
                          <span>{{item.name}}</span>
                          <span class="item__content-price label label-default">{{catalogCtrl.methodFctr.formatPrice(item.price)}}</span>
                        </h2>
                        <p>{{item.description}}</p>
                        <p>Категория: <span>{{item.category}}</span><button data-ng-if="item.status === 'available'" type="button" class="btn btn-primary pull-right" data-ng-click="catalogCtrl.addToCart(item)">Добавить в корзину</button>
                        <button data-ng-if="item.status === 'unavailable'" type="button" class="btn btn-primary pull-right" disabled="">Добавить в корзину</button></p>
                      </div>
                    </article>
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 store__additional">
            <h3>Корзина</h3>
            <div class="cart">
              <span data-ng-if="catalogCtrl.methodFctr.isEmpty(catalogCtrl.cart) === true">Корзина пуста</span>
              <table class="table" data-ng-if="catalogCtrl.isEmpty(catalogCtrl.cart) !== true">
                <tbody>
                  <tr class="animate-if" data-ng-repeat="cartItem in catalogCtrl.cart | orderBy:catalogCtrl.cart.name">
                    <td class="text-center">x{{cartItem.quantity}}</td>
                    <td>{{cartItem.name}}</td>
                    <td class="text-right cart__price">{{catalogCtrl.methodFctr.formatPrice(cartItem.price * cartItem.quantity)}}</td>
                    <td class="td-actions text-right">
                      <button type="button" rel="tooltip" title="Удалить" class="btn btn-danger btn-simple btn-xs cart__btn-delete" data-ng-click='catalogCtrl.remove($index)'>
                        <i class="fa fa-times"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="animate-if" data-ng-if="catalogCtrl.methodFctr.isEmpty(catalogCtrl.cart) !== true">
                <h4 >На сумму: <strong class="cart__price pull-right">{{catalogCtrl.methodFctr.formatPrice(catalogCtrl.getTotalPrice())}}</strong></h4>
                <button type="button" class="btn btn-info pull-right btn-sm">Оформить заказ</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
   
  </body>
</html>