body
{
    display: flex;

    height: 100vh;
}

.store
{
    display: flex;

    width: 90vw;
    height: 90vh;
    margin: auto;
}



.animate-if.ng-enter,
.animate-if.ng-leave
{
    transition: all cubic-bezier(.250, .460, .450, .940) .5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active
{
    opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active
{
    opacity: 1;
}

.dropdown
{
    padding-left: 0;
}

.dropdown a
{
    font-size: 12px;
    line-height: 24px;

    margin: 0;
    padding: 10px 30px;
}
.dropdown-menu
{
    left: initial;

    width: 100%;
    min-width: initial;
}

.store__main
{
    overflow-y: auto;
    /*width: 70%;*/

    padding: 3%;

    background-color: #fff;
}
.store__additional
{
    /*width: 30%;*/
    padding: 3%;

    background-color: #fff;
}

.item
{
    display: flex;

    margin-bottom: 20px;
    padding-bottom: 15px;
}

.item__img
{
    position: relative;

    width: 30%;

    align-self: flex-start;
}

.item__img span
{
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.item__img img
{
    width: 100%;
    height: auto;
}

.item__content
{
    width: 70%;
    padding-left: 20px;
}

.item__content-title
{
    margin: 0;
}

.item__content-price
{
    vertical-align: middle;
}

.item__content-price:before,
.cart__price:before
{
    content: '₴';
    display: inline-block;
    padding-right: 1px;
}

.search-bar
{
    margin-bottom: 30px;
}

.search-bar .input-group
{
    width: 100%;
}


@media only screen and (min-width : 992px)
{
    .store .row
    {
        display: flex;

        height: 100%;
    }
    .store__main
    {
        border-right: 1px dashed #ccc;
    }
    .store__main
    {
        overflow-y: scroll;
    }
    .dropdown.open .dropdown-menu
    {
        margin-top: 5px;
    }
}

.cart .btn
{
    margin: 0;
    padding: 0;
}

@media only screen and (max-width : 480px)
{
    .item
    {
        flex-direction: column;
    }
    .item__img
    {
        width: initial;
    }
    .item__content
    {
        width: initial;
    }
}
